@using UmbracoExport.Controllers
@model UmbracoExport.Models.ViewModels.UmbracoExportViewModel

@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@if (Convert.ToBoolean(TempData["IsSuccessful"]))
{
    <h1>YAY!</h1>
    <p>Thanks for sending your message, we will get back to you shortly.</p>
}
else
{
    using (Html.BeginUmbracoForm<UmbracoExportSurfaceController>("ExportUmbracoContentTree"))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        @Html.EnumDropDownListFor(m => m.FileType, new { @class = "form-control" })

        <input type="submit" value="Send" />
    }
}