// Bg color variations
@each $name, $theme in $themes {
    .bg-#{$name} {
        background-color: map-get($theme, 'base');
        color: map-get($theme, 'contrast');

        /*.cta {
            color: map-get($theme, 'contrast');
        }*/
    }
    .bg-#{$name}-lighten {
        background-color: map-get($theme, 'lighten');
        color: map-get($theme, 'contrast');

        /*.cta {
            color: map-get($theme, 'contrast');
        }*/
    }
}


@each $name, $theme in $themes-gradient {
    .bg-animated-gradient-#{$name} {
        @include gradient-animate(45deg, 10s, (map-get($theme, 'from'), map-get($theme, 'to'), map-get($theme, 'from')));
    }
}


@each $name, $theme in $themes-gradient {
    .bg-gradient-#{$name} {
        background: linear-gradient(-90deg,  map-get($theme, 'from'), map-get($theme, 'to'));
    }
}

@each $name, $theme in $themes-gradient {
    .bg-reverse-gradient-#{$name} {
        background: linear-gradient(-90deg, map-get($theme, 'to'), map-get($theme, 'from'));
    }
}