// Bg color variations
@each $name, $theme in $themes {
    .bg-#{$name} {
        background-color: map-get($theme, 'base');
        color: map-get($theme, 'contrast');

        /*.cta {
            color: map-get($theme, 'contrast');
        }*/
    }
    .bg-#{$name}-lighten {
        background-color: map-get($theme, 'lighten');
        color: map-get($theme, 'contrast');

        /*.cta {
            color: map-get($theme, 'contrast');
        }*/
    }
}