$burger-size: 60px;

button.burger {
    width: 25px;
    height: 20px;
    border: none;
    background: transparent;
    position: relative;
    cursor: pointer;
    //FIX BLUR BUG/ISSUE ON CHROME
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);

    &:after,
    &:before,
    span {
        width: 100%;
        height: 2px;
        border-radius: 100px;
        position: absolute;
        left: 0px;
        background: $grey-darker;
        transform: rotate(0deg);
        transition: all 0.4s;
    }

    &:after,
    &:before {
        content: "";
    }

    &:after {
        top: 0px;
        margin-top: 0px;
    }

    &:before {
        bottom: 0px;
        margin-bottom: 0px;
    }

    span {
        top: 50%;
        //margin-top: -2px;
    }

    &.active {

        &:after {
            transform: rotate(135deg)translate(7px,-7px);
        }

        &:before {
            transform: rotate(225deg);
            bottom: 50%;
            margin-bottom: -2px;
        }

        span {
            transform: rotate(135deg);
        }
    }
}
