.date-picker {
    &.form-inline {
        .form-group {
            flex-direction: column;
            align-items: flex-start;
            margin-right: 1rem;

            input[type="number"] {
                width: 60px;
                padding: 0 0.5rem;
            }

            &:last-of-type {
                margin-right: 3px;
            }

            @include last(1) {
                input[type="number"] {
                    width: 70px;
                }
            }
        }
    }

    input[type="number"] {
        -moz-appearance: textfield;

        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
    }
}

[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// One radio button per line
label {
    display: block;
    cursor: pointer;
    line-height: 2.5;
    font-size: 1.5em;
}

.radio-btns [type="radio"] {

    & + .clicker {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 1px solid $green;
        position: relative;
        background-color: $green-light;

        &:before {
            content: '';
            background-color: transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            transition: 0.8s ease background-color;
            border: none;
        }
    }

    &:checked {
        & + .clicker {
            &:before {
                background-color: $green;
            }
        }
    }
}

/* Comment for test branch2 */
[type="radio"] + .clicker {
    display: block;
}

// the basic, unchecked style
[type="radio"] + .clicker:before {
    content: '';
    display: inline-block;
    width: .75em;
    height: .75em;
    vertical-align: -0.25em;
    border-radius: 50%;
    border: 1px solid $green;
    margin-right: 0.75em;
    transition: 0.8s ease background-color;
    outline-offset: .4em;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=date]::-webkit-clear-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number], input[type=text] {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    color: #495057;

    &:focus {
        outline: none;
        border: 1px solid $grey;
    }
}

fieldset {
    font-size: 1em;
    border: 2px solid #000;
    padding: 2em;
    border-radius: 0.5em;
}

legend {
    color: #fff;
    background: #000;
    padding: 0.25em 1em;
    border-radius: 1em;
}

.form-group {
    .notification {
        font-size: 0.815rem;
        font-family: $title;
        color: $grey-mid;
    }

    label {
        line-height: 2;
        font-size: 1.188rem;

        br {
            display: none;

            @include min($bp-ms) {
                display: block;
            }
        }
    }

    input, textarea {
        height: 45px;
        border-radius: 0;
        display: inline-block;

        &:focus {
            border-color: none;
            box-shadow: none;
            border-color: #ced4da;
            outline: 2px solid $purple;
        }
    }

    textarea {
        height: auto;
    }

    .styled-dropdown-button {
        position: relative;
        display: inline-block;
        width: 100%;
        //FOR PIN ICON
        &.icon {
            width: 100%;

            &:after {
                left: auto;
                right: 0.5em;
            }

            & select {
                width: 100%;
                padding-left: 4em;
            }

            i {
                position: absolute;
                left: 10px;
                top: 8px;
                width: 30px;
                height: 30px;

                &:before {
                    font-size: 1.75rem;
                }
            }
        }

        select.form-control {
            color: $grey-placeholder;
        }

        select {
            width: 100%;
            height: 45px !important;
            border-radius: 0;
            appearance: none;
            position: relative;
            z-index: 1;
            background-color: rgba(255,255,255,0);
            padding-right: 2.5rem;
            border: 1px solid #ced4da;
            color: #495057;

            &::-ms-expand {
                display: none;
            }

            &:focus {
                border-color: none;
                box-shadow: none;
                border-color: #ced4da;
                outline: 2px solid $purple;
            }
        }

        &:after {
            font-family: $icon;
            content: $awicon_chevron-down;
            position: absolute;
            right: 0.5rem;
            top: 4px;
            font-size: 1.625rem;
            color: $grey;
            z-index: 0;
            background: $white;
        }
    }

    &.new-big-circles-radio {
        div {
            max-width: 270px;
        }

        .form-check {
            .form-check-label {
                padding: 0;
                width: 100%;

                [type="radio"] + .clicker {
                    position: relative;

                    &:hover {
                        .tag {
                            font-weight: 600;
                        }
                    }

                    .tag {
                        text-align: center;
                        margin-top: 5%;
                        font-size: 1rem;
                        color: $grey-dark;
                        font-weight: 400;
                        line-height: 1.3;
                        min-height: 40px;

                        @include min($bp-ms) {
                            font-size: 1.25rem;
                            margin-top: 5%;
                            min-height: 60px;
                        }

                        @include min($bp-sm) {
                            margin-top: 1rem;
                        }
                    }

                    img {
                        width: 60%;
                        margin: 0 auto;
                        margin-top: 5%;

                        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                            width: 100%;
                            margin-top: 0;
                        }
                    }

                    .big-circle-inner-content {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        padding: 15%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        top: 0;
                        left: 0;
                        /*text-align:center;*/
                    }

                    i {
                        visibility: hidden;
                        background: $green;
                        color: $white;
                        padding: 10px;
                        border-radius: 50%;
                        top: -10%;
                        right: 40%;
                        font-size: 0.875rem;

                        @include min($bp-ms) {
                            top: -10%;
                            right: 42%;
                            font-size: 1.188rem;
                        }

                        @include min($bp-sm) {
                            position: absolute;
                            top: 8%;
                            right: 8%;
                            font-size: 1.188rem;
                        }
                    }

                    .check-holder {
                        width: 100%;
                        text-align: center;
                        margin-top: -40%;

                        @include min($bp-ms) {
                            margin-top: -35%;
                        }

                        @include min($bp-sm) {
                            margin-top: -15%;
                        }
                    }
                }

                [type="radio"]:checked + .clicker {
                    i {
                        visibility: visible;
                    }

                    .tag {
                        font-weight: 600;
                    }
                }
                // the basic, unchecked style
                [type="radio"] + .clicker:before {
                    width: 100%;
                    display: block;
                    height: 0;
                    padding-bottom: 100%;
                    overflow: hidden;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    border: 1px solid $grey;
                }

                [type="radio"]:checked + .clicker:before {
                    background: $blue-lighter;
                    border: 1px solid $green;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
                }
            }
        }
    }





    &.small-squares-radio {
        min-height: 90px;
        width: 100%;

        .form-check {
            display: inline-block;
            width: 125px;
            margin-right: 15px;

            @media screen and (min-width: 375px) {
                width: 155px;
            }

            @include min($bp-ms) {
                width: 200px;
            }

            @include min($bp-sm) {
                width: 90px;
                margin-right: 15px;
            }

            @include min($bp-md) {
                margin-right: 40px;
            }

            .form-check-label {
                padding: 0;
                width: 132px;
                height: 76px;
                display: inline-block;

                @media screen and (min-width: 375px) {
                    width: 160px;
                }

                @include min($bp-ms) {
                    width: 200px;
                }

                @include min($bp-sm) {
                    width: 90px;
                    height: 90px;
                }
                /* Comment for test branch2 */
                [type="radio"] + .clicker {
                    .tag {
                        display: block;
                        width: 50px;
                        text-align: center;
                        position: absolute;
                        left: 40px;
                        top: 21px;
                        color: $grey;

                        @media screen and (min-width: 375px) {
                            left: 56px;
                        }

                        @include min($bp-ms) {
                            left: 75px;
                        }

                        @include min($bp-sm) {
                            left: 23%;
                            top: 21px;
                        }
                    }
                }

                [type="radio"]:checked + .clicker {
                    .tag {
                        color: $blue-dark;
                    }

                    i {
                        height: 35px;
                        width: 35px;
                        background: $green;
                        display: block;
                        position: absolute;
                        top: -15px;
                        right: -15px;
                        border-radius: 50%;

                        &:after {
                            font-family: 'awicon';
                            content: $awicon-check;
                            color: $white;
                            font-size: 1rem;
                            position: absolute;
                            top: 3px;
                            left: 8px;
                        }
                    }
                }
                // the basic, unchecked style
                [type="radio"] + .clicker:before {
                    height: 78px;
                    width: 132px;
                    border-radius: 0;
                    border: 1px solid $grey;
                    margin-bottom: 0.75rem;

                    @media screen and (min-width: 375px) {
                        width: 160px;
                        margin-bottom: 0.75rem;
                    }

                    @include min($bp-ms) {
                        width: 200px;
                    }

                    @include min($bp-sm) {
                        width: 90px;
                        margin-bottom: 0;
                    }
                }
                // the checked style using the :checked pseudo class
                [type="radio"]:checked + .clicker:before {
                    background: $blue-lighter;
                    border: 2px solid $green;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                }
            }
        }

        &.payment-method {
            .form-check {
                width: 130px;
                margin-bottom: 1.5rem;

                @include min($bp-ms) {
                    width: 140px;
                    margin-bottom: 0.5rem;
                }

                .form-check-label {
                    height: 80px;
                    width: 130px;

                    @include min($bp-ms) {
                        width: 140px;
                    }

                    [type="radio"] + .clicker {
                        .tag {
                            display: block;
                            width: 100%;
                            text-align: center;
                            position: absolute;
                            left: 0;
                            top: 22px;
                            color: $grey;

                            img {
                                margin-top: 0.25rem;
                            }
                        }
                    }

                    [type="radio"] + .clicker:before {
                        height: 80px;
                        width: 130px;

                        @include min($bp-ms) {
                            width: 140px;
                        }
                    }
                }
            }
        }
    }
    // used initially on choose appointment calendar
    &.standard-circle-radio {
        margin-bottom: 0;

        .form-check {
            margin-bottom: 0;

            .form-check-label {
                padding-bottom: 0;
                padding-left: 0;

                [type="radio"] + .clicker {
                    padding: 0.2rem 1.2rem 0.4rem 1.9rem;
                }
                // the basic, unchecked style
                [type="radio"] + .clicker:before {
                    border: 1px solid $grey;
                    height: 20px;
                    width: 20px;
                }
                // the checked style using the :checked pseudo class
                [type="radio"]:checked + .clicker:before {
                    background: $green;
                    border: 2px solid $white;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                }
            }
        }
    }
    //form group sizing
    &.form-group__size-xs {
        input, select, .styled-dropdown-button, textarea {
            max-width: 65px;
        }
    }

    &.form-group__size-s {
        input, select, .styled-dropdown-button, textarea {
            max-width: 100px;
        }
    }

    &.form-group__size-m {
        input, select, .styled-dropdown-button, textarea {
            max-width: 140px;
        }
    }

    &.form-group__size-l {
        input, select, .styled-dropdown-button, textarea {
            max-width: 200px;
        }
    }

    &.form-group__size-xl {
        input, select, .styled-dropdown-button, textarea {
            max-width: 310px;
        }
    }
}


.standard-check {
    .form-check {
        .form-check-label {
            display: inline-block;
            max-width: 401px;
            cursor: pointer;
            padding-left: 2.375rem;
            font-size: 1rem;
            line-height: 1.5;
            position: relative;

            [type="checkbox"] {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                padding: 0;
                border: 0;
                clip: rect(0 0 0 0);
                overflow: hidden;
            }

            [type="checkbox"] ~ span {
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0px;
            }

            [type="checkbox"].insurance-form-five-checkbox ~ span {
                top: 0;
            }

            [type="checkbox"] ~ span:before {
                content: '';
                display: inline-block;
                width: 25px;
                height: 25px;
                vertical-align: -3px;
                border-radius: 0;
                border: 1px solid $grey;
                margin-right: 0.9375rem;
                outline-offset: .4em;
            }

            [type="checkbox"]:checked ~ span:after {
                content: $awicon-check;
                position: absolute;
                left: 4px;
                top: 0px;
                font-size: 1.125rem;
                font-family: 'awicon';
            }

            a {
                text-decoration: underline;
                color: $blue-dark;
            }
        }
    }
}
//Form validation style
.form-group:not(.error) {
    /*.field-validation-error {
        display: none;
    }*/
}

.form-group.error {
    input, select, .date-picker {
        //border-color: $red;
    }

    .field-validation-error {
        display: block;
        min-height: 45px;
        position: relative;
        padding: 0.6875rem 0.5rem;
        width: 100%;
        margin-top: 17px;

        @include min($bp-ms) {
            padding: 0.6875rem 0.75rem;
        }

        @include min($bp-sm) {
            max-width: 65%;
        }

        @include min($bp-md) {
            max-width: 55%;
        }

        @include min($bp-lg) {
            display: inline-block;
            margin-left: 14px;
            margin-top: 0;
            max-width: 47%;
        }

        span {
            margin: 0;
            max-width: 100%;
            font-size: 0.9375rem;

            @include min($bp-ms) {
                font-size: 1rem;
            }

            @include min($bp-lg) {
                text-align: left;
            }
        }

        &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 15px 17px 15px;
            border-color: transparent transparent $red-light transparent;
            top: -17px;
            content: "";
            position: absolute;
            left: 1rem;

            @include min($bp-lg) {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 15px 17px 15px 0;
                border-color: transparent $red-light transparent transparent;
                top: 17%;
                content: "";
                position: absolute;
                left: -17px;
            }
        }
    }
}

.form-group-picker {
    display: none;

    &.active {
        display: block;
    }

    .form-group-wraper {
        display: none;

        &.active {
            display: block;
        }
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}