a {
    text-decoration: none;
    /*&:hover {
        font-weight: bold;
    }*/
}

.cta {
    color: $purple;
    display: block;
    position: relative;
}

.subtitle-text {
    a {
        color: $blue;
    }
}
