.mobile-div-tabs {
    a {
        width: 100%;
    }

    hr {
        width: 95%;
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $grey-light;
        margin: 0 auto;
        padding: 0;
    }

    img {
        width: 50px;
        height: 50px
    }

    i {
        color: $orange;
        font-weight: 700;
        font-size: 1.25rem;
        position: absolute;
        right: 10px;
        margin-left: 0.3125rem;
    }
}
