h1, h3, h4, h5, h6, .heading1, .heading3, .heading4, .heading5, .heading6 {
    font-family: $title;
}

h2, .heading2 {
    font-family: $open-sans;
}

h2, h3 {
    color: $blue;

    &.form-title{
        font-weight: 800;
        font-size: 1.75rem;
    }
}

@each $name, $theme in $themes-gradient {
    .title-gradient-#{$name} {
        display: inline-block;
        color: map-get($theme, 'from');
        @include text-gradient(0deg, map-get($theme, 'from'), map-get($theme, 'to'));
        line-height: 1.4;
    }
}

.generic-content{
    h2{
        padding-right: 2rem;
    }
}