@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ExportPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Core.Security;
@{
    Layout = "Master.cshtml";
    var user = UmbracoContext.Current.Security.CurrentUser;
    var userTicket = new System.Web.HttpContextWrapper(System.Web.HttpContext.Current).GetUmbracoAuthTicket();
    if (userTicket != null) {     
        var currentUser = ApplicationContext.Services.UserService.GetByUsername(userTicket.Name);
        if (!currentUser.IsAdmin())
        {
            Response.Redirect("/");
        }
    }
}



<section class="section section">
    @Html.GetGridHtml(Model.Content, "bodyText", "bootstrap3-fluid")
</section>

<section class="container">
    @Html.Action("RenderExportForm", "UmbracoExportSurface")
</section>