@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ExportPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Core.Security;
@{
    Layout = "Master.cshtml";
    var user = UmbracoContext.Current.Security.CurrentUser;
    var userTicket = new System.Web.HttpContextWrapper(System.Web.HttpContext.Current).GetUmbracoAuthTicket();
    if (userTicket == null) { Response.Redirect("/"); }
    
    var currentUser = ApplicationContext.Services.UserService.GetByUsername(userTicket.Name);
    if (!currentUser.IsAdmin()){Response.Redirect("/");}
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section container">
    @Html.GetGridHtml(Model.Content, "bodyText", "bootstrap3-fluid")

    @Html.Action("RenderExportForm", "UmbracoExportSurface")
</section>
